body {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 50px;
    background-color: rgb(216, 216, 216);
}

h2 {
    font-size: 30px;
    background-color: rgb(216, 216, 216);
}

input {
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

button {
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}
